:root{
  --padding-container: 100px 0;
  --color-title: white;
}


header {
  height: 80px;
  background-color: white;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.header_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_item {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2.2em;
  font-weight: bold;
  color: black;
  margin-right: 2em;
}

.header_item nav {
  display: flex;
  align-items: center;
}

.header_links {
  display: flex;
}

.header_links li {
  list-style: none;
  margin-right: 1em;
}

.header_links li a {
  color: rgb(0, 0, 0);
  font-size: 0.9em;
  font-weight: 600;
}

.header_contact {
  margin-left: 0.4em;
  font-size: 0.9em;
  font-weight: 600;
  color: black;
}

.header_contact span {
  margin-left: 0.2em;
}

.header_login {
  background-color: rgb(2, 155, 243);
  font-weight: 600;
  margin-left: 2.4em;
  padding: 0.3em 0.6em;
  color: white;
  border-radius: 6px;
}

.header_user {
  display: flex;
  align-items: center;
  margin-left: 2.4em;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.1em;
  position: relative;
}

.header_user img {
  width: 25px;
  margin-right: 0.3em;
}

.user_options {
  position: absolute;
  top: 2em;
  left: 0;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
}

.user_options-active {
  opacity: 1;
}

.hr-2{
  color: #fff;
  margin: 1em;
  
}


.footer{
  
  padding: 1em 0 !important;
  background-color: rgb(2, 155, 243);
}
.footer__title{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3px;
}
.footer__title{
  color: #fff;
}
.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav--footer{
  padding-bottom: 20px;
  display: grid;
  gap: 3em;
  grid-auto-flow: row;
  height: 100%;
}
.nav__link--footer{
  display: flex;
  margin: 0;
  margin-right: 20px;
}
.footer__copy{
  --padding-container:30px 0 ;
  text-align: center;
  color :#fff;
}
.footer_copyrght{
  font-weight: 300;
}
.footer__icons{
  margin-bottom: 10px;
}
.footer__img{
  
  width: 30px;
}

.nav__items {
  list-style: none;
  margin-right: 1em;
}

.nav__links {
  color: white;
  font-size: 1.3em;
}

.imag-conta{
  
  margin-top: 1px;
  height: 4.5em;  
  
}

.imag-conta-2{
  
  margin-top: 1.2em;
  height: 1.2em;  
  
}