@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&family=Lumanosimo&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
}

a {
  text-decoration: none;
  cursor: pointer;
}